* {
  border: none;
  /* border-radius: 12px; */
  font-family: Hack Nerd Font;
  /*c olor: rgb(0,0,0);*/
  /*font-family: Source Code Pro; */
  font-size: 14px;
  min-width: 20px;
}

window#waybar {
  background: #000000;
  /* border-radius: 0px 0px 20px 20px; */
  border-radius: 0px 0px 0px 0px;

  /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
  padding-right: 10px;
  padding-left: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  transition: none;

  color: transparent;
  background: transparent;
}

window#waybar.PCSX2 #window {
  color: #e6e6e6;
  background: #4d4d4d;
}

#workspaces {
  color: #ffffff;
  margin-top: -4px;
  margin-bottom: -4px;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: #7c818c;
  background: #383c4a;
}

#memory {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(100, 114, 125, 0.7);
  border-radius: 0px 10px 10px 0px;

  border-left: 0px transparent;

  margin-top: 3px;
  margin-bottom: 3px;
}

#cpu {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 0px 0px 10px;

  border: 1px solid rgba(100, 114, 125, 0.7);
  border-right: 0px transparent;

  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 20px;
}

#network {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(100, 114, 125, 0.7);
  border-radius: 0px 10px 10px 0px;

  border-left: 0px transparent;

  margin-top: 3px;
  margin-bottom: 3px;
}

#bluetooth {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 0px 0px 10px;

  border: 1px solid rgba(100, 114, 125, 0.7);
  border-right: 0px transparent;

  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 10px;
}

#battery {
  background-color: rgba(0, 0, 0, 0.05);

  border: 1px solid rgba(100, 114, 125, 0.7);
  border-left: 0px transparent;

  border-radius: 0px 10px 10px 0px;

  margin-right: 20px;
  margin-bottom: 3px;
  margin-top: 3px;

  color: #ffffff;
}

#backlight {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 0px 0px 10px;

  border: 1px solid rgba(100, 114, 125, 0.7);
  border-right: 0px transparent;

  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 10px;
}

#custom-swaync {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 10px 10px;
  /*border-radius: 0px 0px 0px 0px;*/

  border: 1px solid rgba(100, 114, 125, 0.7);
  /* border-right: 0px transparent;
  border-left: 0px transparent; */

  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

#wireplumber {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 10px 10px;
  /*border-radius: 0px 0px 0px 0px;*/

  border: 1px solid rgba(100, 114, 125, 0.7);
  /* border-right: 0px transparent;
  border-left: 0px transparent; */

  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
}

#battery.charging {
  background-color: rgba(0, 125, 0, 0.3);
}

#tray {
  color: #ffffff;
}

#clock {
  transition: none;
  color: #ffffff;

  background: transparent;
}

#mpris {
  transition: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 10px 10px;

  font-size: 16px;
  border: 1px solid rgba(100, 114, 125, 0.7);

  margin-left: 16px;
  margin-bottom: 3px;
  margin-top: 3px;
}
