window {
  /* background-image: url("file:///usr/share/backgrounds/default.png"); */
  color: #ffffff;
  background-color: #000000;
  background-size: cover;
}

box#body {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 250px;
}
